@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Propiedades del fondo*/
body {
	background-image: url("../img/Colegio_pbj_0.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
/*relleno de contenidos*/
.color_fondo{
	padding: 30px 10%;
}



/*Nav - bar - fuente de texto*/
.container-fluid #navbarNavDropdown .navbar-nav{
	font-family: "Montserrat", serif;
}
/*Caracteristicas del Nav-Bar*/
.color_fondo .navbar.navbar-expand-lg.bg-primary{
	margin-top: 35px;
	margin-bottom: 35px;
	border-radius: 25px;
}
/*Alieacion al centro de los elementos del Nav-bar*/
.navbar.navbar-expand-lg.bg-primary .container-fluid #navbarNavDropdown{
	justify-content: center;
	padding: 5px 20%;
}
/*Tamaño de los contenidos del Nav-bar*/
.container-fluid #navbarNavDropdown .navbar-nav{
	font-size: 18px;
	font-weight: 500;
}
/*Color y propiedades del link del Nav bar*/
.nav-link {
	color: #fff !important;
}
.nav-link:hover {
	text-decoration: overline;
	transition: 0.4s all ease-in-out;
	color: #082538 !important;
}
/*Color y propiedades del desplegable*/
.navbar-nav .nav-item.dropdown .dropdown-menu{
	background-color: #0d6efd;
}
/*Color y propiedades del link del desplegable*/
.dropdown-menu li .dropdown-item{
	color: white;
	font-size: 15px;
	transition: 0.4s all ease-in-out;
	font-weight: 500;
}
.dropdown-menu li .dropdown-item:hover{
	color: #082538;
	text-decoration: overline;
	background-color: #0d6efd;
}
/*Indicador de pagina /IMPORTANTE PARA CADA PAGINA/*/
.nav-link.active{
	text-decoration: overline;
	color: #082538 !important;
}



/*Contenidos de la interna stem-astronomia*/
.container-fluid-contenido-astronomia{
	border-radius: 25px;
	padding: 48px 48px;
	background-color: rgba(13,110,253,0.20);
	-webkit-box-shadow: 0px 0px 6px 2px #6699ff;
	box-shadow: 0px 0px 6px 2px #6699ff;
}
/*Titular de la pagina interna*/
.titular{
	color: white;
	text-align: center;
	text-shadow: 0px 0px 15px #0677c4;
	background-color: rgba(1,15,25,0.60);
	padding: 10px;
	margin: auto;
	width: 100%;
	border-radius: 25px;
}
.titular h1{
	font-size: 30px;
	font-weight: 600;
	margin: auto;
}
/*Titular del video*/
.container-fluid-contenido-astronomia .container.mt-5 .text-center.mb-4{
	color: white;
	font-family: "Montserrat", serif;
	background-color: rgba(1,15,25,0.60);
	padding: 15px;
	height: auto;
	width: 50%;
	margin: auto;
	border-radius: 25px;
	text-shadow: 0px 0px 15px #0677c4;
	font-size: 20px;
	font-weight: 500;
}
/*Carrusel - Videos*/
.carousel video {
    height: auto;
    border-radius: 25px;
}
/*Ajuste de posición de controladores*/
.container.mt-5 #videoCarousel .carousel-control-prev {
	width: 10%;
	height: 90%;
}
.container.mt-5 #videoCarousel .carousel-control-next {
	width: 10%;
	height: 90%;
}
/*Texto importante de los videos*/
.carousel-caption {
	font-family: "Montserrat", serif;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 10px;
	margin-bottom: 20px;
}
/*Espaciado entre los textos*/
.carousel-inner .carousel-item .carousel-caption.d-none.d-md-block h5{
	margin: 0px 0px 5px 0px;
}
.carousel-inner .carousel-item .carousel-caption.d-none.d-md-block p{
	margin: 5px 0px 0px 0px;
}
/*Caja padre del video*/
.color_fondo .container-fluid-contenido-astronomia .container.mt-5 {
	margin-bottom: 3rem;
}
/*apartado de mensaje importante / Reunion*/
.mensaje_importante{
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Montserrat", serif;
	text-align: center;
	font-weight: 600;
	padding: 16px;
	margin: auto;
	height: auto;
	width: 52%;
	border-radius: 25px;
}
/*Propiedades del parrafo*/
.mensaje_importante p{
	text-shadow: 0px 0px 15px #0677c4;
	color: white;
	margin: auto;
	transition: 0.3s all ease-in-out;
	font-size: 24px;
}
/*propiedades del link*/
.mensaje_importante a{
	color: white;
}
/*Animación al pasar el cursor*/
.mensaje_importante:hover p{
	transform: scale(1.05);
}



/*Color y propiedades de la caja del footer*/
.color_fondo .container-fluid-pie{
	padding: 15px;
	margin-top: 35px;
	border-radius: 25px;
	background-color: rgba(13,110,253,0.20);
	-webkit-box-shadow: 0px 0px 6px 2px #6699ff;
	box-shadow: 0px 0px 6px 2px #6699ff;
}
/*Propiedades y color del texto del footer*/
.color_fondo .container-fluid-pie .col-12{
	text-align: center;
	color: white;
	text-shadow: 0px 0px 5px #082538;
	font-family: "Montserrat", serif;
}



/* Ajustes para pantallas medianas y pequeñas */
@media (max-width: 991px) {	
	/*Nav-bar*/
	.navbar-nav{
    	text-align: center;
    }
	.navbar-nav .nav-item.dropdown .dropdown-menu{
		background-color: #fff;
		border-radius: 25px;
	}
	.dropdown-menu li .dropdown-item{
		color: #082538;
		text-align: center;
	}
	.dropdown-menu li .dropdown-item:hover{
		background-color: #fff;
	}
    /* Video */
    .container_fluid_video .d-flex.justify-content-center video{
        border: none;
        width: 100%;
        height: auto;
    }
    /* Footer */
    .color_fondo .container-fluid-pie{
        padding: 15px;
    }
	 .color_fondo .container-fluid-pie h4{
		font-size: 18px;
		margin: 0;
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
	/*relleno de contenidos*/
	.color_fondo{
		padding: 20px 5%;
	}
    /*Nav Bar*/
    .navbar-nav{
        text-align: center;
    }
	.color_fondo .navbar.navbar-expand-lg.bg-primary{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.container-fluid #navbarNavDropdown .navbar-nav{
		font-size: 15px;
	}
    /* Footer */
    .color_fondo .container-fluid-pie{
        padding: 17px;
    }
	.color_fondo .container-fluid-pie h4{
		font-size: 16px;
    }
}

/*Celulares*/
@media (max-width: 576px){
	/*relleno de contenidos*/
	.color_fondo{
		padding: 20px 2.5%;
	}
	/*Nav-Bar*/
	.container-fluid #navbarNavDropdown .navbar-nav{
		font-size: 14px;
	}
	.dropdown-menu li .dropdown-item{
		font-size: 14px;
	}
	/* Footer */
    .color_fondo .container-fluid-pie{
        padding: 16px;
    }
	.color_fondo .container-fluid-pie h4{
		font-size: 14px;
    }
}